screen_down <C-d>
screen_up <C-u>

# Switch pages
next_page <C-S-l>
previous_page <C-S-h>

# Backwards because it is more intuitive when zoomed in
# not when zoomed out though
move_left <C-l>
move_right <C-h>

goto_top_of_page;goto_right g<C-t><C-S-<right>>

toggle_custom_color <C-`>
toggle_custom_color <C-#>
