## Startup commands
startup_commands toggle_scrollbar

middle_click_search_engine              g
shift_middle_click_search_engine        s
highlight_color_y                       1.00 0.90 0.05

shared_database_path    /Users/hazot/Library/CloudStorage/GoogleDrive-kevinlessard74@gmail.com/My Drive/Learning/Readings/shared.db
paper_folder_path       /Users/hazot/Library/CloudStorage/GoogleDrive-kevinlessard74@gmail.com/My Drive/Learning/Readings/Papers/

custom_background_color 0.180 0.204 0.251
custom_text_color       0.925 0.910 0.885
